In [1]:
import pandas as pd

In [2]:
data_file = "Resources/weather_data.csv"

In [3]:
weather_data_df = pd.read_csv(data_file)
weather_data_df.to_html('weather_data_html.html', index=False)

In [4]:
weather_data_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tuktoyaktuk,69.4541,-133.0374,-28.48,75,17,3.87,CA,1611975600
1,1,Busselton,-33.6500,115.3333,80.56,47,0,6.53,AU,1611975600
2,2,Albany,42.6001,-73.9662,7.84,68,23,9.28,US,1611975600
3,3,Hermanus,-34.4187,19.2345,66.94,80,75,3.29,ZA,1611975600
4,4,Tanout,14.9709,8.8879,60.46,29,3,13.15,NE,1611975600
...,...,...,...,...,...,...,...,...,...,...
517,517,Shingū,33.7333,135.9833,46.54,51,20,10.13,JP,1611975600
518,518,Piteå,65.3172,21.4794,2.14,89,94,11.27,SE,1611975600
519,519,Katangli,51.7102,143.2326,0.63,92,100,15.90,RU,1611975600
520,520,Canutama,-6.5339,-64.3831,74.89,96,100,3.15,BR,1611975600
521,521,Puerto del Rosario,28.5004,-13.8627,65.16,83,46,10.87,ES,1611975600